<div style="text-align:center; padding:0px" ng-init="">
<br>
    <div class="col-md-12" style="color:#fff">
    <div style="text-align:left" class="col-xs-12">
    <button type="submit" class="btn btn-danger btn-sm" onClick="javascript:history.go(-1);">Voltar</button><br>
    </div>
        <h2 style="text-align: center">Cadastro da Aventura</h2>
        <form name="form" ng-submit="cadastraAventura(formAventura)" role="form">
            <div class="form-group" ng-class="{ 'has-error': formAventura.aventuraNome.$dirty && formAventura.aventuraNome.$error.required }">
                <label for="aventuraNome">Nome da Aventura</label>
                <input type="text" name="aventuraNome" id="aventuraNome" class="form-control" ng-model="formAventura.aventuraNome" required />
                <span ng-show="formAventura.aventuraNome.$dirty && formAventura.aventuraNome.$error.required" class="help-block">Campo obrigatório</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formAventura.aventuraNotas.$dirty && formAventura.aventuraNotas.$error.required }">
                <label for="aventuraNotas">Notas da Aventura</label>
                <input type="text" name="aventuraNotas" id="aventuraNotas" class="form-control" ng-model="formAventura.aventuraNotas"/>
             </div>
            <br>
            <div style="text-align: center"><button type="submit" class="btn btn-danger btn-md">Adicionar Aventura</button></div><br><br>
        </form>
    </div>
    </div>

