    <div style="text-align:center; padding:0px">   <br> <div style="text-align:left" class="col-xs-12" ng-init="getHabilPeri()">
    <button type="submit" class="btn btn-danger btn-sm" onClick="javascript:history.go(-1);">Voltar</button><br>
    </div>
        <form name="form" ng-submit="cadastrarPeriHabil(habilidades, pericias)" role="form">

    <div class="col-md-12" style="color:#fff">
        <h2 style="text-align: center">Cadastro de Habilidades e Perícias</h2><hr>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <h4 style="color:yellow">Habilidades</h4>
        <div style="text-align:center">
            <div class="form-group">
             <div ng-repeat="habilidade in habilidades">
                <div style="text-align:center">
                        {{habilidade.nomeHabil}}: <br><br><input type="number" style="text-align: center; color: #000" ng-model="habilidade.valorHabil"> <h6 style="display: inline">valor da habilidade</h6><br><br> <input type="number" style="text-align: center; color: #000" ng-model="habilidade.modHabil"><h6 style="display: inline">&nbsp;&nbsp;valor do modificador</h6><br><br>
                         
                </div>
               </div>
            </div> 
        </div>
        <h4 style="color:yellow">Pericias</h4>
        <div style="text-align:center">
            <div class="form-group">
             <div ng-repeat="pericia in pericias">
                <div style="text-align:center">
                        {{pericia.periciaNome}}: &nbsp;&nbsp;<input type="number" style="text-align: center; color: #000" ng-model="pericia.periciaValor">&nbsp;&nbsp;<br><br>
                         
                </div>
               </div>
            </div> 
        </div>
    </div>
        <div style="text-align:center" class="col-md-12">
            <button type="submit" class="btn btn-danger btn-md">Cadastrar</button><br><br><br>
        </div>
    </form>
    </div>

